<div class="container">
  <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="card card-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               name="title"
               id="title"
               class="form-control"
               [ngModel]="todo?.title"
               (ngModelChange)="todo.title = $event"
               required
               [readonly]="isReadOnly"
        >
      </div>
      <div class="form-group">
        <h6>Completed</h6>
        <label for="yes" class=" mr-2"> Yes </label>
        <input class="mr-5"
               type="radio"
               name="type"
               id="yes"
               required
               [ngModel]="todo?.completed"
               (ngModelChange)="todo.completed = $event"
               value={{true}}
               [readonly]="isReadOnly"
        >

        <label for="no" class="mr-2">No </label>
        <input type="radio"
               name="type"
               id="no"
               required
               [ngModel]="todo?.completed"
               (ngModelChange)="todo.completed = $event"
               value={{false}}
               [readonly]="isReadOnly"
        >
      </div>
      <button class="btn btn-primary" *ngIf="isReadOnly" (click)="isReadOnly = false">Edit</button>
      <button class="btn btn-primary" *ngIf="!isReadOnly" (click)="onEdit()">Save</button>
    </form>
  </div>
</div>
